.myform{
  width:100%;
  float:left;
  padding:0px;
}

#close-icon {
  width:10%;
}
.myform .form-group{
  padding: 0;
  margin: 0;
}


.myform .smsPart{
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: yellow;
}


.myform .msPart{
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: greenyellow;
}


.myform .form-group label{
  float:left;
  width: 60%;
  height: 30px;
  background-color:#A9B7C0;
  color:#333;
  font-weight: bolder;
  padding:0;
  border:none;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: medium;
  cursor: zoom-in;
}

.hange {
  float: left;
  width:25%;
  height:30px;
  background-color: #EFD9C1;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 1px;
  border: 0px;
}

.myform .form-group mat-checkbox {
  float: right;
  width: 20%;
  margin-right: -80px;
  margin-top: 20px;
  padding: 0;
}

.fa-check-circle-o{
  font-size:40px;
  color:orange;
  width: 20%;
  float:right;
  margin-right: -80px;
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  position: center;
}

.fa-check-circle{
  font-size:40px;
  color:orange;
  float:right;
  width: 20%;
  box-sizing: border-box;
  position: center;
  margin-right: -80px;
  margin-top: 20px;
  padding: 0;
}

.myform .form-group textarea {
  padding: 8px;
  width: 75%;
  border-radius: 0;
  overflow: hidden;
  background: #EFD9C1;
  display: block;
  border-color: lightgrey;
  font-size: medium;
  resize: none;
  overflow-y: scroll;
}

.mat-form-field{
  width:100% !important;
  border:0;
  margin:0;
  padding:0;
}

#wrapper {
}
#content {
  float: left;
  width: 80%;
}
#sidebar {
  float: right;
  width: 20%;
  margin-right: -100px;
  margin-bottom: 0;
  margin-top: 0;
}
#cleared {
  clear: both;
}


.mat-radio-button  {
  margin-right: 20px;
  margin-left: 20px;
}

.mat-radio-group {
  float: right;
  margin-right: 15px;
}


#filter {
  float: right;
  width: 100%;
  margin-right: 80px;
}

.rb {
  font: normal 20px courier !important;
  color: grey;
}
