/*.container{*/
  /*background-color: #fac9ae;*/
/*}*/

div.input-group{
  float: left;
  width: 88%;
  /*border: 1px dotted #A9B7C0;*/
  border-radius: 25px;
  background: lightgrey;
  padding: 20px;
  margin-top: 20px;
}

#label1{
  float: left;
  width: 90%;
}

.input-select{
  float: right;
  width: 5%;
  align-content: left;
  margin-left: 15px;
  margin-top: 110px;
}

.checkedModel{
  float: left;
  width: 60%;
  margin:2px;
}

.checkedModel input{
  background-color:#A9B7C0;
  width:95%;
  color:black;
  font-size: medium;
  font-weight: bold;
  padding:5px;
  border:none;
  margin-bottom: 5px;
  display: block;
}


.balls{
  width: 15%;
  background-color: #d7d7d7;
  color:darkgrey;
  height: 30px;
  margin-right: 10px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
.priority{
  float:right;
  width: 18%;
  margin:2px;
}
.priority input{
  font-size: medium;
  height: 30px;
  width: 100%;
  font-weight: bold;
  margin-right: 80px;
  background-color: #d7d7d7;
  border:none;
  display: block;
  text-align: center;
  padding:5px;
  margin-bottom: 5px;
  color:darkgrey;
}


div.input-group.mb-3{
  float: left;
  width: 95%;
  padding: 0px;
  margin-top: 2px;
  background: lightgrey;
}

div.input-group-prepend {
  float: left;
  width: 15%;
}

.input-group-text{
  font-size: medium;
  font-weight: bold;
  background: lightgrey;
  color: gray;
}
.form-control{
  font-size: medium;
  background: lightgrey;
  border-style: solid;
  border-width: 2px;
}

.form-control-2{
  font-size: medium;
  background-color: whitesmoke;
  border-style: none;
  width: 778px;
}

.mass{
  float:left;
  width: 100%;
  display: block;
}

.mass  textarea{
  float: left;
  width: 95%;
  background-color: #d7d7d7;
  overflow: hidden;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  border:1px;
  font-size: medium;
  color:darkgrey;
  font-weight: normal;
}

.KTV-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
}

.example-full-width {
  width: 95%;
  font-size: medium;
  font-weight: bold;
  background-color: #d7d7d7;
  color:darkgrey;
}

.btn {
  float: left;
  width: 15%;
  background-color: #989898;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: medium;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  padding: 3px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #787878;
}

.info{
  float: left;
  width: 20%;
  margin-left: 405px;
  margin-top: 10px;
  font-size: medium;
}
