<!--Zustaede as the parentComponet and Modell-design as the child component-->

<div *ngIf = "displayThenBlock; then thenBlock  else elseBlock"></div>

<ng-template #thenBlock>
  <!-- for testing
  <h2>  this is then block</h2>
  <button (click)= hideThenBlock()> hide </button>-->

    <div>
      <label id="label1"> Was sind die Ist-, Ziel-Zustände und Prioritäten für dir aus gewählten Kriterien? </label>
    </div>

    <div id="three-labels">
      <label> Priorität </label>
      <label> Ziel </label>
      <label> Ist </label>
    </div>


  <!--<div *ngFor="let cmodle of allmodels; let m = index;" >-->
    <!--&lt;!&ndash;<div class ="input-group" *ngIf="checkedArray.indexOf(cmodle._id) >-1 && checkedModells[m]">&ndash;&gt;-->
    <!--<div class ="input-group" *ngIf="isChecked(cmodle._id)">-->
    <!--<button type="text" (click)=openEditor(cmodle)> {{cmodle._id}}. {{cmodle.Kriterium}} </button>-->
    <!--<div class="numberCircle">{{int_ist}}</div>-->
    <!--<div class="numberCircle">{{int_ziet}}</div>-->
    <!--<div class="numberCircle">{{int_priorty}}</div>-->
    <!--</div>-->
  <!--</div>-->


  <div *ngFor="let cmodle of checkedModells; let m = index;" >
    <!--<div class ="input-group" *ngIf="checkedArray.indexOf(cmodle._id) >-1 && checkedModells[m]">-->
    <div class ="input-group">
      <button type="text" (click)=openEditor(cmodle)> {{cmodle.kriterium_id}}. {{cmodle.kriterium}} </button>
      <div class="numberCircle">{{cmodle.ist_id}}</div>
      <div class="numberCircle">{{cmodle.ziel_id}}</div>
      <div class="numberCircle">{{cmodle.priority}}</div>
    </div>
  </div>




  <!--<div *ngFor="let cmodle of allmodels" >-->
      <!--<button type="text" > {{cmodle._id}}. {{cmodle.Kriterium}} ... plus {{cmodle.isSelected()}}</button>-->
  <!--</div>-->


</ng-template>


<ng-template #elseBlock>
  <!--<h2>  this is else block</h2>-->
  <!--<button (click)= showThenBlock()> show</button>-->

  <app-modell-design (childEvent)="receiveChanage($event)" [parentSwitch]="displayThenBlock" [ClickedSelectedModel]="csMod" [ClickedModell] ="cMod"> </app-modell-design>

</ng-template>
