<!--Zustaede as the parentComponet and Modell-design as the child component-->

<div *ngIf = "displayThenBlock; then thenBlock  else elseBlock"></div>

<ng-template #thenBlock>
  <!-- for testing
  <h2>  this is then block</h2>
  <button (click)= hideThenBlock()> hide </button>-->


  <div id="label1">
    <label> Was sind die Ist-, Ziel-Zustände und Prioritäten für die ausgewählten Kriterien? </label>
  </div>

    <div id="three-labels">
      <label> Priorität </label>
      <label> Ziel </label>
      <label> Ist </label>
    </div>


  <div *ngFor="let cmodle of checkedModells | sortArr:'priority'; let m = index;" >
    <div class ="input-group">
      <button type="text" (click)=openEditor(cmodle)> {{cmodle.kriterium_id}}. {{cmodle.kriterium}} </button>
      <!--<div class="numberCircle">{{getISTE(cmodle, 'i')}}</div>-->
      <!--<div class="numberCircle">{{getISTE(cmodle, 'z')}}</div>-->
      <div class="izLable">{{getISTE(cmodle, 'i')}}</div>
      <div class="izLable">{{getISTE(cmodle, 'z')}}</div>
      <div class="numberCircle">{{cmodle.priority}}</div>
    </div>
  </div>


</ng-template>


<ng-template #elseBlock>
  <!--<h2>  this is else block</h2>-->
  <!--<button (click)= showThenBlock()> show</button>-->

  <app-modell-design (childEvent)="receiveChanage($event)" [parentSwitch]="displayThenBlock" [ClickedSelectedModel]="csMod" [ClickedModell] ="cMod"> </app-modell-design>

</ng-template>
