<div class="container">

  <div id="label1">
    <label> Welche Maßnahmen sollen die Lücken zwischen Ist- und Ziel-Zuständen schließen? </label>
  </div>

  <div *ngFor="let cm of ssms; index as i">
     <!--<div class ="input-group" *ngIf="sms[i]">-->
     <div class ="input-group">
         <div class="checkedModel"> <input  disabled type="text" id="{{cm.kriterium_id}}" value="{{cm.kriterium_id}}. {{cm.kriterium}}"></div>
         <div class="balls"> {{cm.ist_id}} -> {{cm.ziel_id}}</div>
         <div class="priority"> <input  type="text" disabled value=" Priorität: {{cm.priority}}"></div>

       <div class="input-group mb-3">
         <div class="input-group-prepend">
           <span class="input-group-text">Maßnahme: </span>
         </div>
         <textarea class="form-control" aria-label="Maßnahme: "  [(ngModel)]="cm.Massnahmen"  matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="15"></textarea>
       </div>

       <div class="input-group mb-3">
         <div class="input-group-prepend">
           <span class="input-group-text">Erklärung: &nbsp;&nbsp;</span>
         </div>
         <textarea class="form-control" aria-label="Erklärung: " [(ngModel)]="cm.Erklaerung" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="15"></textarea>
       </div>

       <div class="mass">

         <form class="KTV-form">
         <table class="example-full-width" cellspacing="0">
           <tr>
              <td><mat-form-field class="example-full-width">
                <input matInput type="text" [(ngModel)]="cm.Kosten" placeholder="Kosten: (EUR)" [ngModelOptions]="{standalone: true}">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Termin:" [(ngModel)]="cm.Termin"  [ngModelOptions]="{standalone: true}" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <input matInput #postalCode maxlength="30" placeholder="Verantwortlich" [(ngModel)]="cm.Verantwortlich" [ngModelOptions]="{standalone: true}" >
              </mat-form-field></td>
        </tr></table>
      </form>

       <!--<div> current Mass {{cm.Massnahmen}} Erk:{{cm.Erklaerung}}  Kost: {{cm.Kosten}} Ver: {{cm.Verantwortlich}} Termin: {{cm.Termin}}</div>-->

     </div><!--input Group-->


  </div>

</div>

</div>


