.input-group{
  float: left;
  width: 90%;
  /*border: 1px dotted #A9B7C0;*/
  border-radius: 25px;
  background: lightgrey;
  padding: 20px;
  margin-top: 20px;
}

div.input-group.mb-3{
  float: left;
  width: 95%;
  padding: 0px;
  margin-top: 2px;
}

.input-group-text{
  font-size: medium;
  font-weight: bold;
}

.form-control{
  font-size: medium;
  background-color: #F7F9F9;
}

.checkedModel{
  float: left;
  width: 45%;
  margin:2px;
}

.checkedModel input{
  background-color:#A9B7C0;
  width:95%;
  color:#333;
  font-size: medium;
  font-weight: bold;
  padding:5px;
  border:none;
  margin-bottom: 5px;
  display: block;
}

.smallLable {
  background-color:#A9B7C0;
  width:45px;
  height: 34px;
  color:#333;
  font-size: medium;
  font-weight: bold;
  padding:5px;
  border:none;
  margin-bottom: 0px;
  margin-left: 15px;
  display: block;
}

.balls{
  width: 15%;
  background-color: #EFD9C1;
  height: 30px;
  margin-right: 30px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  cursor: zoom-in;
}

.numberCircle {
  width: 15%;
  display: block;
  margin-right: 10px;
  margin-top: 0px;
  margin-left: 10px;
  background: #EFD9C1;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  padding: 3px;
  border: 2px solid #EFD9C1;
  color: #808080;
  text-align: center;
  font: 24px Arial, sans-serif;
  cursor: zoom-in;
}

button#help-icon {
  width: 40px;
  height: 36px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
}


.izLable {
  display: block;
  margin-top:0px;
  margin-right: 5px;
  width: 80px;
  height: 33px;
  margin-left: 2px;
  background: #EFD9C1;
  text-align: center;
  font: 18px Arial, sans-serif;
  color: #808080;
  padding: 8px;
}

.diplayContent {
  padding: 8px;
  width: 95%;
  border-radius: 0;
  overflow: hidden;
  background: #F2E0CD;
  display: block;
  border-color: lightgrey;
  font-size: medium;
  resize: vertical;
  overflow-y: scroll;
  margin-bottom: 10px;
  color: black;
}
.priority{
  float:right;
  width: 15%;
  margin:2px;
}
 .priority input{
  font-size: medium;
  width: 100%;
  height: 34px;
  margin-left: 10px;
  font-weight: bold;
  margin-right: 80px;
  background-color: #EFD9C1;
  border:none;
  display: block;
  text-align: center;
  padding:5px;
  margin-bottom: 5px;
}
.mass{
  float:left;
  width: 100%;
  display: block;
}

.mass  textarea{
  float: left;
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  border:1px;
  font-size: medium;
}

.KTV-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
}

.example-full-width {
  width: 95%;
  font-size: medium;
  font-weight: bold;
  background-color: #C7D8C6;
}

.example2-form {
  width: 95%;
}

.example2-full-width {
  width: 100%;
  font-size: large;
  font-weight: bold;
}

#myCarousel{
  width: 100%;
  margin-top: 3px;
  padding: 10px;
  background: darkgray;
  height: 800px;
}
.carousel-inner{
  width: 80%;
}
#myCarousel .carousel-inner .item {
  width:70%;
  margin-left: 280px;
  margin-right: 280px;
  font-size: medium;
}

#myCarousel .carousel-inner .left .carousel-control {
  float: left;
  margin-left: 0;
  padding-left: 0;
}
#myCarousel .carousel-inner .right .carousel-control{
  float: right;
  margin-right: 0;
  padding-right: 0;
}
.material-icons {
  font-size: 32px;
  color: #666666;
}
